<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CSV TO HTML</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row pt-5">
          <div class="col-12">
            <input type="file" @change="handleClientUpload" />
          </div>
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td
                    v-for="header in tableHeader"
                  >
                    {{ header }}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cells in tableData">
                  <td v-for="cell in Object.keys(cells)">
                    {{ cells[cell ]}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data () {
          return {
            tableData: [],
            tableHeader: []
          }
        },
        methods: {
          handleClientUpload(event) {
            const files = event.target.files
            if (window.FileReader) {
              this.getText(files[0])
            } else {
              alert("FileReader are not supported in this browser.")
            }
          },
          getText(fileToRead) {
            const reader = new FileReader()
            reader.onload = this.handleLoad
            reader.onerror = this.handleError
            reader.readAsText(fileToRead)
          },
          handleLoad (event) {
            const csv = event.target.result
            this.formatForTable(csv)
          },
          handleError (event) {
            if (evt.target.error.name == "NotReadableError") {
              alert("Canno't read file!")
            }
          },
          formatForTable(csv) {
            const rows = csv.split(/\r\n|\n/)

            const cleanRows = rows.map((el, index) => {
              const cells = el.split(/[,](?=(?:[^"]|"[^"]*")*$)/g)

              return cells.map(el => {
                const hasDoubleQuotes = [el.charAt(0), el.charAt(el.length - 1)]
                if (hasDoubleQuotes.every(el => el === '"')) {
                  return el.slice(1, -1)
                }
                return el
              })

            }).filter(el => el.length > 1)

            const tableHeader = cleanRows.shift()
            this.tableHeader = tableHeader

            cleanRows.forEach((el) => {

              const childObj = {}

              el.forEach((row, index) => {
                childObj[tableHeader[index]] = row
              })
              this.tableData.push(childObj)
              return childObj
            })
          }
        }
      })
    </script>
  </body>
</html>
